@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito+Sans&display=swap');


@media screen and (min-width:1200px) {
    


/*for carousel*/
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
/*for carousel*/  
* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container { 
   
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 15px; 
    padding-right: 15px; 
    width: 1200px;
    height: auto;
}   
 
    
  


  .flex-container { 
    display: flex; 
  }
div {
    margin: auto;
}
ul {
    margin: 0;
}
.InternerIcons {
    width: 30px;
    height: 30px;
    color: rgb(249, 186, 56);
}


section {
    padding: 0;
    margin: 0;
}
.container-header {
    background-image: url(../images/productlogos/backgrounds/backgroundheader.png) ;
    
    display: block;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.most-popular-games-page-productlist img {
    width: 70px;
    height: 70px;
}
.header-elements {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width:100%;
height:auto;
}
.logo {
    display: block;
    justify-content: left;
    width: 130px;
    height: auto;
}
.menu__box-default{
    display: flex;

}
.menu__item {
    color: white;
}

.nav li {
    padding-left: 10px;
}
header {
    display: block;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 30px 15px 30px 15px;
    margin: auto;
    max-width: 1200px;
    align-items: stretch;
}
nav {
    display: flex;
}
p,
h3,
h4,
span,
a {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}
a {
    text-decoration: none;
}
.instagramA,
.youtubeA,
.facebookA {
    padding-left: 10px;
}
li {
    list-style-type: none;
}
h1,
h2 {
    color: white;
    font-family: 'Fredoka One', cursive;
}
.first-page-learnmore {
    background-color: rgb(25, 202, 109);
    border-radius: 10px;
    padding-bottom: 21px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 21px;
    font-family: 'Fredoka One', cursive;
   font-size: 15.4px;
    text-align: center;
    max-width: 200px;
}
.underheader-container {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: flex-start;
     flex-direction: column;
    padding: 170px 0 190px 0;
}
.underheader {
    max-width:60%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 15px 0 15px;
    margin: auto;
}
.underheader-h2 { 
    font-size: 56px;
    padding: 0 15px 0 15px;
    text-align: left;

    
}
.underheader-h3{
    text-align: left;
    padding: 0 15px 0 15px;
}
.about-us-page {
    background-image: url(../images/productlogos/backgrounds/background2.png);
    
    width: 100%;
    height: auto;
    padding: 100px 0 100px 0;
}
.about-us-column-container-p{
    width: 60%;
    text-align: center;
    align-self: center;
}
.about-us-column-container-p-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about-us-page-img {
    align-items: center;
    display: flex;
    justify-content: center;
    
    
}
.about-us-page-picture {
    display: flex;
    justify-content: center;
    min-height: 32px;
    width: 70%;
    height: auto;
    align-self: center;
}
img {
    width: 50%;
    height: auto;
}
.about-us-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    
}
.about-us-column-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
    min-width: 170px;
    min-height: 17px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    margin: 10px 15px 0 15px;
    
    background-color: rgb(14, 49, 84);
    padding: 40px 20px 40px 20px;
}
.about-us-column-container h2 , p {
    text-align: center;
    box-sizing: border-box;
}

.about-us-column-icons {
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
    
    overflow: hidden;
    margin:auto;
    align-self: center;
    
}

    

.learmoreMGD {
    background-color: rgb(69, 160, 228);
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 10px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
    min-height: 40px;
   
    
    
    align-self: center;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size:15px;

}
/*TOP GAMES WITH CAROUSEL */
.top-games-page {
    background-image: url(../images/productlogos/backgrounds/background3.png);
    padding: 90px 0 90px 0;
    width: 100%;
    height: auto;
    max-height: 980px;
    
}
.top-games-page-h2 {
    font-size: 60px;
    margin:0;
}
.top-games-page h2 , h3 , span {
    text-align: center;
    align-items: center;
}
/*
.gameslist-carousel  {
    width: 90%;
    height: auto;
    margin-top: 40px;
    margin: auto;
}
*/

.top-games-page-gamelist li {
    background-color: rgb(20, 56, 93);
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 50px 70px 50px 70px;
}
.top-games-page-gamelist ul {
    padding: 0;
}
.top-games-page-gamelist-info {
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    padding: 40px 52px 40px 52px;
    width: 60%;
    height: auto;
}
.game-list-h2 { 
    font-size:130%;
    text-align: left;
    box-sizing: border-box;
}
.game-list-p {
    font-size:100%;
    text-align: left;
}
.game-icon-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    margin: 0;
    
}
.game-icon {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    align-self: center;
    min-width: 500px;
    min-height: 250px;
    
}
.button-shop {
    display: flex;
    flex-direction: row;

}
.top-games-page-gamelist + .gameslist-buttons-shop {
    align-self: center;}
    /* CAROUSEL */
    ol, li {
        list-style: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .carousel {
        min-width: 100%;
        height: auto;
        min-height: 800px;
        position: relative;
        max-height: 700px;
        filter: drop-shadow(0 0 10px #0003);
        perspective: 100px;
        padding: 0 40px 0 40px;
        margin: auto;
        overflow-x: hidden;
overflow-y: hidden;
      }
      
      .carousel__viewport {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        overflow-x: scroll;
        counter-reset: item;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        width: 100%;
        height: auto;
        
        margin: auto;
        list-style: none;
        list-style-type: disc;
        max-width: 1200px;
        max-height: 700px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
      }
      
      .carousel__slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        height: auto;
        background-color: rgb(20, 56, 93);
        counter-increment: item;
        display: flex;
        
      }
      .newgames-carousel__slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        height: auto;
        background-color: none;
        counter-increment: item;
        display: flex;
      }
      
      .carousel__slide:nth-child(even) {
        background-color: rgb(20, 56, 93);
      }
      
      .carousel__slide:before {
        content: counter(item);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: auto;
      }
      
      .carousel__snapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        scroll-snap-align: center;
        padding: 50px 70px 50px 70px;
        display: flex;
        flex-direction: row;
        
        
        
        
        
      }
      
      @media (hover: hover) {
        .carousel__snapper {
          animation-name: tonext, snap;
          animation-timing-function: ease;
          animation-duration: 5s;
          animation-iteration-count: infinite;
        }
      
        .carousel__slide:last-child .carousel__snapper {
          animation-name: tostart, snap;
        }
      }
      
      @media (prefers-reduced-motion: reduce) {
        .carousel__snapper {
          animation-name: none;
        }
      }
      
      .carousel:hover .carousel__snapper,
      .carousel:focus-within .carousel__snapper {
        animation-name: none;
      }
      
      .carousel__navigation {
        position: absolute;
        
        right: 0;
        bottom: -10px;
        left: 0;
        text-align: center;
      }
      
      .carousel__navigation-list,
      .carousel__navigation-item {
        display: inline-block;
      }
      
      .carousel__navigation-button {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-color: rgb(255, 255, 255);
        background-clip: content-box;
        border: 0.25rem solid transparent;
        border-radius: 50%;
        font-size: 0;
        transition: transform 0.1s;
        margin: auto;
      }
      .carousel::before,
      .carousel::after{
          display: none;
      }
      .carousel::before,
      .carousel::after,
      .carousel__prev,
      .carousel__next {
        position: absolute;
        top: 0;
        margin-top:20%;
        width: 4rem;
        height: 4rem;
        transform: translateY(-50%);
        border-radius: 50%;
        font-size: 0;
        outline: 0;
        align-self: center;
        
      }
      
      .carousel::before,
      .carousel__prev {
        left: -1rem;
      }
      
      .carousel::after,
      .carousel__next {
        right: -1rem;
      }
      
      .carousel::before,
      .carousel::after {
        content: '';
        z-index: 1;
        background-color:none;
        background-size: 1.5rem 1.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        color: rgb(187, 10, 10);
        font-size: 2.5rem;
        line-height: 4rem;
        text-align: center;
        pointer-events: none;
      }
      
      .carousel::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
      }
      
      .carousel::after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
      }
/*TOP GAMES WITH CAROUSEL */

.time-flies-page {
    display: flex;
    flex-direction: column;
    background-image: url(../images/productlogos/backgrounds/background4.png);
    background-size: cover;
    justify-content: center;
    text-align: center;
    padding: 90px 0 100px 0;
}
.time-flies-page-container {
    display: flex;
    
    justify-content: flex-start;
    width: 100%;
    height: auto;
    
    padding: 0 15px 0 15px;
    align-items: flex-start;
}
.time-flies-page-h2 {
    font-size: 76px;
    
    font-stretch:100%
}
.time-flies-page-container-text {
    margin-left: 0;
    align-self: flex-start;
    max-width:  58.3333%;
    text-align: center;
}
.time-flies-page-learn-more-bttn {
    background-color: rgb(249, 186, 56);
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 10px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
    min-height: 40px;
    
    align-self: center;
    font-family: 'Fredoka One', cursive;
    font-size:15px;

}
.new-mobile-games-page {
    background-image: url(../images/productlogos/backgrounds/background5.png);
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 90px 0 100px 0;
}
.new-mobile-games-page-h2-tittle {
    font-size: 60px;
    text-align: center;
}
.new-mobile-games-page-h2 {
    font-size: 20px;
    text-align: center;
}
.newgames {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.new-mobile-games-page-game-img-container {
    display: flex;
    justify-content: center;
}
.new-mobile-games-page-game-img {
    align-self: center;
    min-width: 360px;
    height: auto;
}
.new-mobile-games-page-game-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.our-journer-page {
    background-image: url(../images/productlogos/backgrounds/background6.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
}
.our-journer-page-h2 {
    font-size: 60px;
    

}
.our-journer-page-numbers {
    padding: 0 15px 15px 0;
    width: 30%;
    height: auto;
}
.our-journer-page-pn {
    font-size: 40px;
    font-family: 'Fredoka One', cursive ;
    
}
.our-journer-page-count-of-games-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: auto;
}
.countofgames {
    width: 100%;
    height: auto;
}
.coming-soon-games-page {
    background-image: url(../images/productlogos/backgrounds/background7.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 100px 0 100px 0;
}
.comingsoongame  {
    display: flex;
    flex-direction: row;
}
.comingsoon-contrainer {
    min-width: 350px;
    min-height: 450px;
    width: 100%;
    height: auto;
    margin: auto;

}
.coming-soon-games-page-h2  {
    font-size:60px;
}
.coming-soon-contrainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1200px;
}

.svgcomingsoon {
    max-width: 350px;
    max-height: 600px;
    height: auto;
    width: 90%;
    padding: 0 15px 0 15px;
    margin: auto;
}
.svg-comingsoon {
        max-width: 350px;
        max-height: 600px;
        height: auto;
        width: 80%;
        background-image: url(../images/comingsoon.webp);
        background-size: cover;
        align-self: center;
        border-radius: 35px;
}
.testimonials-page {
    background-image: url(../images/productlogos/backgrounds/background8.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.testimonials-page-h2 {
    font-size: 60px;
    text-align: center;
}


.internet-icons-contrainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin:0;
}
.internet-icons-contrainer-svg {
    padding-right: 20px;
}
.internet-icons-contrainer a {
    padding-right: 10px;
}
.platforms-page {
    background-image: url(../images/productlogos/backgrounds/background9.png);
    
    width: 100%;
    height: auto;
    padding: 200px 0 200px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.platform-text {
    width: 70%;
}
.platforms-page-h2  {
    font-size: 60px;
    text-align: center;
}

.platforms-page-p {
    font-family: 'Nunito Sans', sans-serif ;
    font-size: 20px;
}
.platforms-page-contacts-button {
    background-color: rgb(249, 186, 56);
    border-radius: 15px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
    max-width: 170px;
    max-height: 17px;
align-self: center;
}
.available-platforms-page {
    background-image: url(../images/productlogos/backgrounds/background10.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 90px 0 90px 0;
}
.available-platforms-page-platformslist {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.available-platforms-page-h2  {
    font-size: 60px;
    text-align: center;
    max-width: 90%;
    margin: auto;
    
}
  

.our-team-page {
    background-image: url(../images/productlogos/backgrounds/background11.png);
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 90px 0 90px 0;
}
.our-team-page-h2 {
    font-size: 60px;
    text-align: center;
}
.our-team-page-icon {
    max-width: 100%;
    min-height: 32px;
    height: auto;
    align-self: center;
}
.our-team-page-ul-creators {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.our-team-page-ul-creators li {
    min-width: 40%;
    
}
.team-i {
    color: white;
}
.most-popular-games-page {
    background-image: url(../images/productlogos/backgrounds/background12.png);
    
    width: 100%;
    height: auto;
    padding: 80px 0 90px 0;
    text-align: center;
}
.most-popular-games-page-h2 {
    font-size: 60px;
}
.most-popular-games-page-products-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.most-popular-games-page-products {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    max-height: auto;
    padding: 0 40px 0 40px;
    flex-wrap: wrap;
    width: 100%;
}
.most-popular-games-page-product-ul li {
    display: flex;
    flex-direction: row;

}
.most-popular-games-page-product {
    width: 33.33%;
}
.most-popular-games-page-product-ul-img {
    width: 70px;
    height: 70px;
    align-self: center;
}
.most-popular-games-page-product-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 7.5px;
}
.most-popular-games-page-product-name-price{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    margin: 0;
}
.most-popular-games-page-product-svg {
    color: white;
    height:  25px;
    width: 25px;
    align-self: center;
    padding-right: 5px;
}
.most-popular-games-page-discription {
    margin:0;
    text-align: left;
} 
.join-the-game-page {
    background-image: url(../images/productlogos/backgrounds/background13.png);
    
    width: 100%;
    height: auto;
    padding: 100px 0 100px 0;
}
.join-the-game-page-h2{
    font-size: 60px;
    text-align: left;
}
.join-form-container {
    display: flex;
    justify-content: flex-start;
    padding: 0 40px 0 40px;
}
.join-form {
    width: 40%;
    height: auto;
    padding: 0 15px 0 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.join-form-input {
    border: none;
    width: 100%;
    height: 51px;
    border-radius: 15px;
    padding: 0 20px 0 20px;
}
.join-form-button {
    border: none;
    width: 100%;
    height: 51px;
    border-radius: 15px;
    color: white;
    font-family: 'Fredoka One', cursive ;
    font-size: 15px;
    background-color: rgb(218, 50, 101);
    padding : 16px 48px 16px 48px ;
    margin-top: 24px;
}
.space-page {
    padding: 260px 0 260px 0;
    background-image: url(../images/productlogos/backgrounds/background14.png);
}
.footer-page {
    background-image: url(../images/productlogos/backgrounds/backgroundfooter.webp);
    background-size: cover;
    display: flex;
    flex-direction: row;
    width: 100%;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-page-nav-ul-buttons {
    display: flex;
    flex-direction: row;
}
.footer-page-nav-ul-buttons li {
    display: flex;
    flex-direction: column;
}
.footer-page-logo {
    align-items: center;
  }
.footer-container {
    width: 100%;
    height: auto;
    padding: 100px 15px 80px 15px;
}  
.footer-page-logo svg {
     
      display: block;
      justify-content: left;
      width: 130px;
      height: auto;
      align-self: center;
  }
.InternerIcons {
    margin-right: 15px;
  }
.InternerIcons svg {
    width: 40px;
    height: 40px;
  }
.facebookA {
    color: orange;
}
.gameslist-buttons-shop {
    width: 135px;
    height: 42px;
}
.testimonials-icons {
    max-width: 120px;
    max-height: 120px;
    align-self: center;
}
.menu__btn {
    display: none;
}
.menu__box {
    display: none;
}
}