@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito+Sans&display=swap');
body {
    box-sizing: border-box;
margin:0;
}
ul{margin:0;}

}
section {
    padding: 0;
    margin: 0;
}
div.container-header {
    background-image: url(../images/productlogos/backgrounds/backgroundheader.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.most-popular-games-page-productlist img {
    width: 70px;
    height: 70px;
}
.header-elements {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.logo {
    display: block;
    justify-content: left;
    width: 130px;
    height: auto;
}
.nav {
    display: flex;
    flex-direction: row;
}
.header-nav-buttons{
    justify-content: center;
}
.nav li {
    padding-left: 10px;
}
header {
    display: flex ;
    justify-content: center;
    flex-direction: row;
    width:100%;
    height: auto;
}
nav {
    display: flex;
}
p , h3, h4, span , a {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}
a {
    text-decoration: none;
}
.instagramA , .youtubeA , .facebookA {
    padding-left: 10px;
}
li {
    list-style-type: none; 
   }

h1 , h2    {
    color: white;
    font-family: 'Fredoka One', cursive; 

}
.first-page-learnmore {
    background-color: rgb(25, 202, 109);
    border-radius: 10px;
    padding-bottom: 21px;
padding-left: 48px;
padding-right: 48px;
padding-top: 21px;
font-family: 'Fredoka One', cursive ;
}
.about-us-page {
    background-image: url(../images/productlogos/backgrounds/background2.png);
    background-size: cover;
    width:100%;
}
.about-us-page-picture {
    width: 90%;
    height: auto;
}
img {
    width: 50%;
    height: auto;
}
.about-us-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-us-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width : 25%;
    height: auto;
    padding-left: 15px;
padding-right: 15px;
    border-radius: 15px;
    margin: 10px 15px 0 15px;
}
.about-us-column-icons {
    min-height: 32px;
    padding-top: 33.3333%;
    overflow: hidden;
    margin-left: 15px;
}
.about-us-column-container{
    background-color: rgb(14, 49, 84);
    
}
.learmoreMGD {
    background-color: rgb(69, 160, 228);
    font-family:'Nunito Sans', sans-serif; 
    border-radius: 10px;
    padding-bottom: 16px;
padding-left: 48px;
padding-right: 48px;
padding-top: 16px;
}
.top-games-page {
    background-image: url(../images/productlogos/backgrounds/background3.png);
    background-size: cover;
    width:100%;
    height: auto;
}
.time-flies-page {
    display: flex;
    flex-direction: column;
    background-image: url(../images/productlogos/backgrounds/background4.png);
    background-size: cover;
    justify-content: center;
    text-align: center;
}
.new-mobile-games-page {
    background-image: url(../images/productlogos/backgrounds/background5.png);
    background-size: cover;
    width:100%;
    height: auto;
}
.our-journer-page {
    background-image: url(../images/productlogos/backgrounds/background6.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:100%;
    height: auto;
}
.our-journer-page-count-of-games-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.coming-soon-games-page {
    background-image: url(../images/productlogos/backgrounds/background7.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height: auto;

}
.testimonials-page {
    background-image: url(../images/productlogos/backgrounds/background8.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width:100%;
    height: auto;
}
.platforms-page {
    background-image: url(../images/productlogos/backgrounds/background9.png);
    background-size: cover;
    width:100%;
    height: auto;

}
.available-platforms-page {
    background-image: url(../images/productlogos/backgrounds/background10.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100%;
    height: auto;
}
.available-platforms-page-platformslist{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.our-team-page {
    background-image: url(../images/productlogos/backgrounds/background11.png);
    background-size: cover;
    width:100%;
    height: auto;
}
.most-popular-games-page {
    background-image: url(../images/productlogos/backgrounds/background12.png);
    background-size: cover;
    width:100%;
    height: auto;
}
.join-the-game-page {
    background-image: url(../images/productlogos/backgrounds/background13.png);
    background-size: cover;
    width:100%;
    height: auto;
}
.footer-page {
    background-image: url(../images/productlogos/backgrounds/backgroundfooter.webp) ;
    background-size: cover;
    display: flex;
    flex-direction: row;
    width:100%;
    
}
footer{
    display: flex;
    flex-direction: row;

}
.footer-page-nav-ul-buttons{
    display: flex;
    flex-direction: row;
}
.footer-page-nav-ul-buttons li {
    display: flex;
    flex-direction: column;
}
.facebookA {
    color: orange;
}
.gameslist-buttons-shop {
    width: 135px;
    height: 42px;
}
.testimonials-icons{
    max-width: 120px;
    max-height: 120px;
}