@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }/*New games carousel*/
  ol, li {
      list-style: none;
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
  .our-team-page-ul-creators-carousel {
      
      height: auto;
      max-width: 1200px;
      position: relative;
     
      filter: drop-shadow(0 0 10px #0003);
      perspective: 100px;
      padding: 0 40px 0 40px;
      margin: auto;
      overflow-x: hidden;
  overflow-y: hidden;
  min-height: 550px;
 
    }
    
    .our-team-page-ul-creators-carousel__viewport {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      overflow-x: scroll;
      counter-reset: item;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      width: 100%;
      height: auto;
      padding: 0 15px 0 15px;
      margin: auto;
      list-style: none;
      list-style-type: disc;
      max-width: 1200px;
      max-height: 700px;
      margin-bottom: 0;
      margin-top: 0;
      
    }
    
    .our-team-page-ul-creators-carousel__slide {
      position: relative;
      flex: 0 0 100%;
      width: 100%;
      height: auto;
      max-width: 35%;
      counter-increment: item;
      display: flex;
      flex-direction: column;
      text-align: center;
      
    }
    
   
    
    .our-team-page-ul-creators-carousel__slide:nth-child(even) {
      background-color: none;
    }
    
   
    
    .our-team-page-ul-creators-carousel__snapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scroll-snap-align: center;
      
      display: flex;
      flex-direction: column;
      
      
      
      
    }
    
    @media (hover: hover) {
      .our-team-page-ul-creators-carousel__snapper {
        animation-name: slide;
        animation-timing-function: ease;
        animation-duration: 5s;
        animation-iteration-count: infinite;
      }
    
      .our-team-page-ul-creators-carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
      }
    }
    
    @media (prefers-reduced-motion: reduce) {
      .our-team-page-ul-creators-carousel__snapper {
        animation-name: none;
      }
    }
    
    .our-team-page-ul-creators-carousel:hover .carousel__snapper,
    .our-team-page-ul-creators-carousel:focus-within .carousel__snapper {
      animation-name: none;
    }
    
    .our-team-page-ul-creators-carousel__navigation {
      position: absolute;
      
      right: 0;
      bottom: -10px;
      left: 0;
      text-align: center;
    }
    
    .our-team-page-ul-creators-carousel__navigation-list,
    .our-team-page-ul-creators-carousel__navigation-item {
      display: inline-block;
    }
    
    .our-team-page-ul-creators-carousel__navigation-button {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background-color: rgb(255, 255, 255);
      background-clip: content-box;
      border: 0.25rem solid transparent;
      border-radius: 50%;
      font-size:6px;
      transition: transform 0.1s;
      margin: auto;
    }
    
    .our-team-page-ul-creators-carousel::before,
    .our-team-page-ul-creators-carousel::after,
    .our-team-page-ul-creators-carousel__prev,
    .our-team-page-ul-creators-carousel__next {
      position: absolute;
      top: 0;
      margin-top:20%;
      width: 4rem;
      height: 4rem;
      transform: translateY(-20%);
      border-radius: 50%;
      font-size: 0;
      outline: 0;
      align-self: center;
      
    }
    
    .our-team-page-ul-creators-carousel::before,
    .our-team-page-ul-creators-carousel__prev {
      left: -1rem;
    }
    
    .our-team-page-ul-creators-carousel::after,
    .our-team-page-ul-creators-carousel__next {
      right: -1rem;
    }
    
    .our-team-page-ul-creators-carousel::before,
    .our-team-page-ul-creators-carousel::after {
      content: '';
      z-index: 1;
      background-color:none;
      background-size: 1.5rem 1.5rem;
      background-repeat: no-repeat;
      background-position: center center;
      color: rgb(187, 10, 10);
      font-size: 2.5rem;
      line-height: 4rem;
      text-align: center;
      pointer-events: none;
    }
    
    .our-team-page-ul-creators-carousel::before {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
    }
    
    .our-team-page-ul-creators-carousel::after {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
    }